<div class="jumbotron text-center">
  <h2>People</h2>
  <div class="btn-group" role="group">
    <%=link_to "Everyone", users_path, class: "btn btn-default #{'active' unless params[:show]}" %>
    <%=link_to "Friends (#{@friends_count})", users_path(show: "friends"), class: "btn btn-default #{'active' if params[:show] == 'friends'}" %>
    <%=link_to "Requested (#{@pending_sent_requests_count})", users_path(show: "requested"), class: "btn btn-default #{'active' if params[:show] == 'requested'}" %> 
    <%=link_to "Pending (#{pending_received_requests_count})", users_path(show: "pending"), class: "btn btn-default #{'active' if params[:show] == 'pending'}" %>
  </div>
</div>

<div class="container users-index">
  <div class="row">
    <%= render @users %>
  </div>
</div>
