<!-- <div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @user.avatar.url(:profile_page) %>
      </div>
      <div class="col-md-4">
        <h2><%= @user.username %></h2>
        <h3>Age: <%= @user.age %></h3> 
        <h3>Gender: <%= @user.gender %></h3>
      </div>
      <div class="col-md-4">
        <h2>About Me</h2>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
</div> -->

<div class="custom-container">
  <div class="row">
    <div class="col-md-2">
      <div class="thumbnail">
        <%= image_tag @user.avatar.url(:profile_page) %>
        <div class="caption">
          <h3 class="text-center"><%= @user.username %></h3>
          <div class="row">
            <div class="col-md-6">
              <p class="text-center"><strong>Age: </strong></p>
              <p class="text-center"><strong>Gender: </strong></p>
              <p class="text-center"><strong>Bio: </strong></p>
            </div>
            <div class="col-md-6">
              <p><%= @user.age %></p>
              <p><%= @user.gender %></p>
            </div>
            <div class="row">
              <p><%= @user.bio %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading text-center"><strong>Friends (<%= @user.active_friends.size %>)</strong></div>
        <div class="panel-body">
          <% (@user.active_friends).each do |friend| %>
          <%= link_to user_path(friend.username) do %>
          <%= image_tag friend.avatar.url, class: "show-friends-pic" %>
          <% end %>
          <% end %>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <% if current_user == @user %>
      <div class="panel panel-success">
        <div class="panel-heading text-center"><strong>What's on your mind?</strong></div>
        <div class="panel-body">
          <%= render 'posts/form' %>
        </div>
      </div>
      <% end %>
      <%= render @posts %>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><strong>Activity</strong></div>
        <div class="panel-body">
          <%= render_activities(@activities) %>
        </div>
      </div>
    </div>
  </div>
</div>
